/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
.form {
  display: flex;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 44px;
  max-width: 371px;
}

.form-label {
  display: block;
}

.form-input {
  width: 100%;
  outline: transparent;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form-input::placeholder {
  color: #808080;
}

.form-btn {
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.loader {
  display: block;
  margin: 0 auto;
  width: 64px;
  height: 48px;
  position: relative;
  animation: split 1s ease-in infinite alternate;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translateX(-10px);
  background: #ff3d00;
  opacity: 0.75;
  backdrop-filter: blur(20px);
}

.loader::after {
  left: auto;
  right: 0;
  background: #fff;
  transform: translateX(10px);
}

@keyframes split {

  0%,
  25% {
    width: 64px;
  }

  100% {
    width: 148px;
  }
}

.is-hidden {
  display: none;
}

.gallery {
  max-width: 1128px;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  border: 1px solid #808080;
}

.gallery-link {
  width: 100%;
  display: block;
}

.gallery-descr {
  max-width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 12px;
  gap: 8px;
}

.gallery-descr-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.gallery-descr-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}

body .sl-wrapper .sl-counter {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

body .sl-wrapper .sl-close {
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #fff;
}

body .sl-wrapper .sl-navigation button {
  width: 24px;
  height: 24px;
  color: #fff;
}
